@{
    Layout = "_Layout";
}

<h1>Admin/ChangePassword</h1>
<form method="post" action="/Admin/ChangePassword">
    <div>
        <label for="f-current-password">Current password:</label>
        <input type="password" id="f-current-password" name="currentPassword" required placeholder="Current password">
    </div>
    <div>
        <label for="f-new-password">New password:</label>
        <input type="password" id="f-new-password" name="newPassword" required placeholder="New password">
    </div>
    <button type="submit">Change password</button>
</form>