@{
    Layout = "_Layout";
}

<h1>Admin/CreateRole</h1>
<form method="post" action="/Admin/CreateRole">
    <div>
        <label for="f-new-role">Role:</label>
        <input name="roleName" id="f-new-role" type="text" placeholder="Role name" />
    </div>
    <button type="submit">Create role</button>
</form>