@{
    Layout = "_Layout";
}

<h1>Admin/DeleteRole</h1>
<form method="post" action="/Admin/DeleteRole">
    <div>
        <label for="f-del-role">Role:</label>
        <input name="roleName" id="f-del-role" type="text" placeholder="Role name" />
    </div>
    <button type="submit">Delete role</button>
</form>