@{
    Layout = "_Layout";
}

<h1>Admin/Register</h1>
<form method="post" action="/Admin/Register">
    <div>
        <label for="f-username">User name:</label>
        <input type="text" id="f-username" name="username" required placeholder="User name">
    </div>
    <div>
        <label for="f-password">Password:</label>
        <input type="password" id="f-password" name="password" required placeholder="Password">
    </div>
    <button type="submit">Sign up</button>
</form>