$font: comfortaa;
$acolor: #000000;
$white: #ffffff;
$avisited: #b349b3;
$ahover: #00aeff;
$boxshadow: inset 0 0 4px $avisited;
$boxshadowsubmit: inset 0 0 5px #ffffff;
$bgsubmit: $avisited;
$h: 27px;
